/* 修正粗體 */
@font-face {
    font-family: '微軟正黑體修正';
    unicode-range: U+7db0, U+78A7, U+7B75; /* ASCII (碧筵綰) */
    font-style: normal;
    font-weight: bold;
    src: local(Yu Gothic), local(MS Gothic);
}
/* 一般粗細的時候改回微軟正黑 */
@font-face {
    font-family: '微軟正黑體修正';
    unicode-range: U+7db0, U+78A7, U+7B75; /* ASCII (碧筵綰) */
    font-style: normal;
    font-weight: normal;
    src: local(微軟正黑體);
}

@mixin fontSetting($FONT-SIZE:$font-size, $WEIGHT:normal) {
    font-size: $FONT-SIZE;
    font-weight: $WEIGHT;
    color: $color-word;
}

@mixin aSetting($COLOR:$aColor, $NOLINE:none) {
    color: $COLOR;
    text-decoration: $NOLINE;
    &:hover,
    &:focus {
        color: $aHover;
        cursor: pointer;
    }
}
@mixin aSetting_nocolor($COLOR:$color-word, $NOLINE:none) {
    color: $COLOR;
    text-decoration: $NOLINE;
    &:hover,
    &:focus {
        color: $aHover;
        cursor: pointer;
    }
}
body {
    @include fontSetting(1em);
    line-height: 1.45em;
    font-family:$font-family;
    -webkit-text-size-adjust: none;
}
a {
    @include aSetting();
}
// kbd
kbd{
    background: #FFF;
    border-radius:.2em;
    color:#555;
    font-weight: bold;
    display:inline-block;
    padding:.1em .6em;
    font-size: .938em;
    font-family: sans-serif;
    margin-right: .4em;
    margin-bottom: .1em;
    vertical-align:middle;
    border-top: 1px solid #BBB;
    border-bottom: 3px solid #BBB;
    border-left: 2px solid #BBB;
    border-right: 2px solid #BBB;
    ~kbd{
        margin-left: .4em;
    }
    kbd{
        border:none;
    }
}
