.font_size {
    overflow: hidden;
    display: block;
    text-align: right;
    span {
        display: inline-block;
        vertical-align: middle;
        font-size: .938em;
        color: #666;
    }
    ul {
        display: inline-block;
        vertical-align: middle;
        @include li-reset;
        li {
            width: 36px;
            height: 36px;
            font-size: 1em;
            float: left;
            display: block;
            margin: 0 .2em;
            a {
                display: block;
                text-align: center;
                line-height: 36px;
                border-radius: 5px;
                background: $lightColor;
                color: #fff;
                font-size:.875em;
                &:hover, &:focus {
                    background: darken($lightColor, 10);
                    color: #FFF;
                }
                &.active {
                    background: darken($lightColor, 10);
                    // &:hover, &:focus {
                    //     background: darken($lightColor, 10);
                    //     color: #FFF;
                    // }
                }
                // &.small {
                //     font-size: .938em;
                // }
                // &.large {
                //     font-size: 1.125em;
                // }
            }
        }
    }
    @include screen('mobile') {
        display: none;
    }
}